---
import Layout from '../layouts/Layout.astro';
import LogoCarousel from '../components/LogoCarousel.astro';
import Card from '../components/Card.astro';
import type {CardType} from '../types/Card.ts'
import Carousel from '../components/Carousel.astro';
import TimelineEvent from '../components/TimelineEvent.astro';
import TrainingItem from '../components/TrainingItem.astro'
import Modal from '../components/Modal.astro'
import SocialLinks from '../components/SocialLinks.astro'
import ContactLinks from '../components/ContactLinks.astro'

import {projects} from '../data/projects.ts'
import {employment} from '../data/employment.ts'
import {training} from '../data/training.ts'
import {kindWords} from '../data/kindWords.ts'
import {comps} from '../data/comps.ts'

export async function getStaticPaths() {

  const pages = [
    ...comps
  ];

  return pages.map(({ slug, company, signoff, role }) => {
    return {
      params: { slug },
      props: { slug, company, signoff, role },
    };
  });
}

const { slug, company, signoff, role } = Astro.props;
---

<Layout title=`${company} ${role} Appliction - Ste Greig`>
	<main>

    <div class="sticky-btns transition-all duration-300 fixed bottom-0 left-0 md:bottom-1 md:left-1 p-2 bg-grey-900 rounded-t md:rounded shadow z-30 flex md:flex-col w-full md:w-auto gap-2">
      <button data-modal-target="tldr" class="btn btn--white flex-1 text-sm justify-center tracking-wider">TL;DR</button>
      <button data-modal-target="contact" class="btn btn--white flex-1 text-sm justify-center">Get in touch</button>
    </div>

		<div class="intro-section lg:sticky top-0 overflow-hidden">

			<header class="flex items-center z-10 w-full p-3 absolute top-0">
				<p class="header-loc items-center hidden sm:flex">
					<svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M272 208v48 85.8l78.7-212.5L138.2 208H224h48zM0 208L372.7 70 432 48l-22 59.3L272 480H224V432 304 256H176 48 0V208z"/></svg>
					<span>Nottingham, UK</span>
				</p>
				<p class="header-hey mx-auto sm:text-lg 4xl:text-2xl font-medium">Hey{company && (`, ${company}`)} <span class="wave-emoji">👋</span></p>
				<button class="btn header-btn" data-modal-target="contact">
					<span class="text-sm sm:text-base">Get in touch</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 150.8l208 143 208-143V112H48v38.8zM464 209L256 352 48 209V400H464V209zM0 400V176 112 64H48 464h48v48 64V400v48H464 48 0V400z"/></svg>
				</button>
			</header>
			
			<section class="min-h-screen bg-offwhite flex flex-col items-center justify-center px-6 py-20 text-center">

				<figure class="intro-profile relative after:absolute after:left-0 after:bottom-0 after:w-full after:h-1/2 after:bg-gradient-to-t after:from-offwhite overflow-hidden">
					<img width="220" height="221" class="mix-blend-darken 4xl:w-80" src="/ste-profile.png" alt="Ste Greig profile picture">
				</figure>

				<h1 class="text-grey-900 text-5xl md:text-7xl 4xl:text-8xl tracking-[-1px] -mt-9 4xl:-mt-12 relative z-10"><span class="text-grey-500">I'm</span> Ste Greig</h1>

				<p class="intro-subtitle mt-[6px] 4xl:text-lg">Front-end Developer <span class="mx-1 md:mx-4">/</span> Design Engineer</p>

				<p class="intro-blurb mt-10 max-w-[500px] text-center">I'm a creative developer with a keen eye for design and detail. I'm a Figma veteran, a CSS obsessive, I have a kink for semantic markup, and I love working with data and building reusable components in React.</p>

				<p class="intro-signoff mt-14 text-grey-500">(and I'd like to work for you)</p>

			</section>

		</div>

		<div class="intro-section-pixel w-px h-px opacity-0 absolute top-0 left-0"></div>

		<section class="content-section bg-grey-100 px-6 py-16 md:py-0">
			<div class="md:flex md:items-center">
				<div class="w-full max-w-128 mx-auto copy md:pr-10 xl:pr-0 md:py-20 lg:py-32">
					<h2 class="heading">What I am and what I'm not (yet)</h2>
					<p>Front-end is a broad term in 2024. Many come via a computer science route, and others from a more creative background. My flavour of front-end is more-so the latter, but I continue to edge closer towards an ideal mix of the two.</p>

					<p>I specialise in UI patterns, user experiences, interactions, accessibility, page speed, and the visual and structural aspects of web pages and apps.</p>
						
					<p>I also have vast experience in marketing environments, which has facilitated a well-rounded skill set in lead-gen, e-commerce, CRO, SEO, A/B testing and more.</p>
						
					<p>CSS is my first love, but JavaScript has been gaining ground in recent years, and I've enjoyed the transition to working in modern JS frameworks, with considerable experience in Next.js, Gatsby, Astro and Eleventy.</p>
						
					<p>I'd like to think I'm the sort of person you can bet on. I'm extremely adaptable and a very fast learner, generally able to achieve a high level in most of what I turn my focus to. So if you think there are any gaps in my skill set, I'm confident these can be quickly filled.</p>
				</div>
				<div class="mt-8 md:mt-0 md:py-32 md:mr-auto flex justify-center items-center md:sticky md:top-0 lg:h-screen">
					<figure class="content-img">
						<img src="/family.png" alt="Ste Greig with wife Hannah and two sons, Leo (6) and Olly (2)"  width="450" height="450">
						<figcaption>My family; wife, Hannah and two sons, Leo (6) &amp; Olly (2)</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<section class="bg-offwhite pt-8 md:pt-12 lg:pt-16 xl:pt-[4.5rem] hidden lg:block">
			<LogoCarousel />
		</section>

		<section class="bg-offwhite py-16 md:py-20 lg:py-32">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">Here are a few of my favourite projects</h2>
				<p class="subheading">All of the projects below were both designed and built by me in their entirety</p>
			</div>

			<div class="flex flex-wrap max-w-screen-4xl mx-auto p-2 lg:px-4 xl:px-8 pt-8 lg:pt-16">
				<Card
					variant="large"
					title="Messi vs Ronaldo"
					subtitle='messivsronaldo.app'
					link="https://www.messivsronaldo.app/"
					image="/messi-vs-ronaldo.webp"
					classes="w-full md:w-1/2 p-2 lg:p-4 xl:p-8"
				>
					<p>The sequel to my original side-project which I sold for a five-figure sum, messivsronaldo.app began as a learning exercise and developed into a real passion project. <button class="read-more-btn">Read more</button></p>

					<div class="[&>*]:mt-4 hidden read-more-content">
						<p>Built with Gatsby, this site was my gateway into React, and I can't understate how much I learnt during both the initial build and the never-ending feature additions. It combined my love of sports, statistics, and development to form a very energising side-hustle that was immeasurably beneficial to my personal development.</p>
							
						<p>The original iteration of this side-project which I previously alluded to (messivsronaldo.net), I created in 2012 and sold in 2016 with an average daily user count of around 15,000, and a firm grip of the top spots in Google for the most relevant search terms.</p>
							
						<p>In a little over a year, this new version had toppled its predecessor, and went on to achieve some dizzying numbers, pulling in 12 million users in a single year despite zero financial investment on marketing.</p>
					</div>
				</Card>

				<Card
					variant="large"
					title="Top Scorers Club"
					subtitle='topscorers.club'
					link="https://www.topscorers.club/"
					image="/top-scorers-club.webp"
					classes="w-full md:w-1/2 p-2 lg:p-4 xl:p-8"
				>
				<p>Built in Astro, Top Scorers Club is another recently launched side project based around sports data, with a simple purpose. <button class="read-more-btn">Read more</button></p>

				<div class="[&>*]:mt-4 hidden read-more-content">
          <p>The site is an at-a-glance, quick-reference resource showing the top scorers and assisters in football's biggest competitions.</p>

					<p>It was an immensely enjoyable build, with the Astro developer experience probably my overall favourite at the moment.</p>
						
					<p>Without going into too much detail about the data side, the site makes creative use of the Google Sheets API, auto-updates and costs nothing to run.</p>
				</div>
				</Card>
			</div>

			<Carousel classes={`pl-2 lg:px-5 xl:px-[3.25rem]`} arrows="outside">
				{projects && (
					projects.map((project: CardType) => (
						<Card
							title={project.title}
							subtitle={project.subtitle}
							link={project.link ? project.link : []}
							image={project.image}
							classes={`w-80 xl:w-1/4 p-2 lg:p-3`}
						/>
					))
				)}
			</Carousel>

		</section>

		<section class="bg-gradient-to-b from-grey-100 to-offwhite px-6 py-16 md:py-0">
			<div class="md:flex md:items-center">
				<div class="w-full max-w-128 mx-auto copy md:pr-10 xl:pr-0 md:py-20 lg:py-32">
					<h2 class="heading">I love writing about the web, too</h2>
					<p>When I started out in the industry, I was a very earnest blogger, regularly posting tips, tutorials and experimental demos using all the fancy new features that came under the umbrella of "CSS3".</p>
					
					<p>It was this activity that caught the attention of global publishers Wiley, who approached me with an offer to write an extensive book on advanced CSS3. And after several months of very hard work and very late nights, CSS3 Pushing the Limits - totalling 384 pages - was published in late 2013.</p>
						
					<p>The book received favourable reviews, and despite its age would still hold some weight today due to the cutting edge nature of the material, with the likes of Grid, Flexbox, Keyframe Animation and Custom Properties covered in detail.</p>
						
					<p>I've also been published by Smashing Magazine, writing a chapter on the intricacies of CSS Timing Functions for their book on animation.</p>

					<p>My blogging became much less frequent in subsequent years as other work and family life took precedence, but this is something I'm looking to get back into in a big way since launching my new <a target="_blank" href="https://ste.digital/">personal site</a> earlier this year, as I'm a big believer that the best way to master something is to write about it.</p>
				</div>
				<div class="mt-8 md:mt-0 md:py-32 md:mr-auto flex justify-center items-center md:sticky md:top-0 lg:h-screen">
					<figure class="content-img">
						<img src="/css3-ptl.webp" alt="My book, CSS3 Pushing the Limits" width="450" height="450">
						<figcaption>My book, CSS3 Pushing the Limits</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<section class="bg-offwhite pt-8 md:pt-10 lg:pt-16 pb-16 md:pb-20 lg:pb-32">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">My journey and experience</h2>
				<p class="subheading">How I got to where I am today</p>
			</div>

			<ol class="w-full mx-auto max-w-screen-sm lg:max-w-screen-lg xl:max-w-[1066px] pl-8 pr-4 lg:px-4 xl:px-0 flex flex-col lg:flex-row flex-wrap items-center lg:items-start lg:justify-between py-4 lg:py-8 xl:pb-20 mt-8 lg:mt-20 relative after:absolute after:left-4 lg:after:left-1/2 after:w-0 after:h-full after:top-0 after:border-r after:border-dashed after:border-grey-300">

				<TimelineEvent year="2004" title="The journey begins" margins="mt-4 lg:mt-0">
					<p>A long lost pal gives me a dodgy copy of Adobe Photoshop 7.0 before school one morning, and I'm destined for a career on the web ever since!</p>
				</TimelineEvent>

				<TimelineEvent year="2005" title="First taste of the industry" margins="mt-4 lg:mt-24">
					<p>At 15, I am recruited by the Hereford United Football Club web team to contribute noughties style website graphics (you know, like rounded corners!)</p>
				</TimelineEvent>
				
				<TimelineEvent year="2008" title="Leave school" margins="mt-4 lg:-mt-16">
					<p>I leave Ashfield School & Sixth Form with 9 GCSEs (including As in Maths English & Art), and 3 A-Levels (including an A in ICT). I then head to Nottingham Trent University to study Multimedia.</p>
				</TimelineEvent>

				<TimelineEvent year="2010" title="First proper job" highlight={true} label="employment">
					<p>After my second year of uni I land my first <b>Web Designer</b> role at 19, at Nottingham marketing agency, <b>Adtrak</b>, working full time initially and part time throughout my final year of uni.</p>
					<button data-modal-target="employment" class="btn text-grey-900 mt-4 text-sm">
						<span>Full Employment History</span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M295 183l-17 17L312 233.9l17-17 135-135V168v24h48V168 24 0H488 344 320V48h24 86.1L295 183zM217 329l17-17L200 278.1l-17 17L48 430.1V344 320H0v24V488v24H24 168h24V464H168 81.9L217 329z"/></svg>
					</button>
				</TimelineEvent>

				<TimelineEvent year="2011" title="Graduate from university" margins="mt-4 lg:-mt-16">
					<p>I graduate from Nottingham Trent University with a <b>First Class Degree</b> in <b>BA (Hons) Multimedia</b> (specialising in Interactive Media).</p>
				</TimelineEvent>

				<TimelineEvent
					year="2012"
					title="I launch messivsronaldo.net"
				/>

				<TimelineEvent year="2012" title="Land a book deal" margins="mt-4 lg:mt-0">
					<p>After blogging incessantly about CSS for the previous few years I am approached by global publishers Wiley, who commission me to write an extensive book on advanced CSS.</p>
				</TimelineEvent>

				<TimelineEvent year="2013" title="First senior role... in New Zealand!" highlight={true} label="employment">
					<p>My partner and I move to New Zealand for a year, where at 22 I land my first senior position at a small studio in Auckland, joining <b>Austin Digital</b> as <b>Senior Designer & Programmer</b>.</p>
          <button data-modal-target="austin-digital" class="btn text-grey-900 mt-4 text-sm">
						<span>My role at Austin Digital</span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M295 183l-17 17L312 233.9l17-17 135-135V168v24h48V168 24 0H488 344 320V48h24 86.1L295 183zM217 329l17-17L200 278.1l-17 17L48 430.1V344 320H0v24V488v24H24 168h24V464H168 81.9L217 329z"/></svg>
					</button>
				</TimelineEvent>

				<TimelineEvent year="2013" title="CSS3 Pushing the Limits is published" margins="mt-4 lg:-mt-4">
					<p>In September 2023, after months of very hard work and very late nights, my book on the cutting edge CSS3 modules - totalling 384 pages - was published.</p>
				</TimelineEvent>

				<TimelineEvent year="2014" title="Back to the UK" highlight={true} label="employment">
					<p>Fresh from travelling the length and breadth of New Zealand, we move to South Wales where I join <b>WebBox Digital</b> as <b>Lead UI Designer & Front-end Developer</b>.</p>
				</TimelineEvent>

				<TimelineEvent year="2015" title="Back to Adtrak" margins="mt-4 lg:-mt-4" highlight={true} label="employment">
					<p>After moving back to Nottingham in 2015, I accept the offer of a senior role at my former employer, <b>Adtrak</b>!</p>
					<button data-modal-target="adtrak-role" class="btn text-grey-900 mt-4 text-sm">
						<span>My role at Adtrak</span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M295 183l-17 17L312 233.9l17-17 135-135V168v24h48V168 24 0H488 344 320V48h24 86.1L295 183zM217 329l17-17L200 278.1l-17 17L48 430.1V344 320H0v24V488v24H24 168h24V464H168 81.9L217 329z"/></svg>
					</button>
				</TimelineEvent>

				<TimelineEvent
					year="2016"
					title=" Hannah and I get married!"
					margins="mt-4 lg:mt-24"
				/>

				<TimelineEvent year="2016" title="Sell messivsronaldo.net" margins="mt-4 lg:mt-8">
					<p>In 2016, 4 years after launching, I sell my messivsronaldo.net website for a five-figure sum.</p>
				</TimelineEvent>

				<TimelineEvent
					year="2018"
					title="First child, Leo, born on 30th January"
					margins="mt-4 lg:mt-24"
				/>

				<TimelineEvent year="2018-19" title="Upskilling" margins="mt-4 lg:mt-4">
					<p>I went big on learning React, Gatsby, ES6 and other more modern web tech.</p>
				</TimelineEvent>

				<TimelineEvent year="2020" title="Launch messivsronaldo.app">
					<p>4 years after selling the original site, I launch a new Messi vs Ronaldo web app, which has since eclipsed the very successful original iteration in every way.</p>
				</TimelineEvent>

				<TimelineEvent
					year="2021"
					title="Second child, Olly, born on 6th October"
					margins="mt-4 lg:-mt-4"
				/>

				<TimelineEvent year="2024" title="Make decision to leave Adtrak">
					<p>After many happy years at Adtrak, I decide the time is right to take the next step in my career and take on a new challenge.</p>
				</TimelineEvent>
			</ol>
		</section>

		<Modal id="employment">
			<h3 class="text-2xl/snug mb-5 font-medium">Employment History</h3>
			<ol class="flex flex-col gap-5">
				{employment && employment.map(item => (
					<li class='flex'>
						<p class='w-32 flex-none text-grey-700'>
							<time datetime={item.start}>{item.start}</time>
							&ndash;
							{item.end && (
								<time datetime={item.end}>{item.end}</time>
							)}
						</p>
						<div>
							<p class='text-lg'>{item.jobTitle}</p>
							{item.company && (
								<div class="">
									{item.company.map(i => (
										<p class='text-grey-700'>{i}</p>
									))}
								</div>
							)}
						</div>
					</li>
				))}
			</ol>
		</Modal>

		<Modal id="adtrak-role">
			<h3 class="text-2xl/snug mb-5 font-medium">My Role at Adtrak</h3>
			<p>My long term <strong>Senior Web Designer</strong> role at Adtrak can be best summarised in modern terms as a Design Engineer role, regularly both designing and building full websites and tools for a vast array of clients in a varied range of industries.</p>
			
			<p>My primary focus has been front-end development, with a real speciality in UI engineering, implementing designs with meticulous care and precision.</p>

			<p>I've worn many other hats in this role too, making me extremely comfortable managing my own projects from start to finish, and communicating with clients and other stakeholders.</p>
				
			<p>The role has also contributed to my extensive all-round web knowledge, thanks to working closely with experienced marketers to ensure the ongoing success of our products. I subsequently have a wealth of knowledge in areas such as SEO, CRO, A/B testing, and page speed, affording me the kind of marketing know-how that only really comes with experience.</p>
				
			<p>Further still, I've been heavily involved in training and upskilling the 20+ strong web team throughout my time at Adtrak, which I expand on more later in this application.</p>
		</Modal>

    <Modal id="austin-digital">
			<h3 class="text-2xl/snug mb-5 font-medium">My Role at Austin Digital</h3>
			<p>This was my first senior position, which I landed during my year spent in New Zealand. It was an extremely productive 10 months, in which I completely transformed the practices of a small web design studio to more modern standards. I was in charge of overseeing a small team of designers and developers, who I helped transition from WYSIWYG style builds to custom built WordPress sites.</p>

      <p>Although a short tenure, I'm extremely proud of the impact I made on the fortunes of a small business in such a short space of time.</p>
		</Modal>

		<section class="bg-gradient-to-b from-offwhite via-grey-100 to-grey-100 pt-4 md:pt-8 pb-16 md:pb-20 lg:pb-32 px-2">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">Training and teaching</h2>
				<p class="subheading">As well as client work, I've also always been heavily involved in training and upskilling the rest of the 20+ strong web team at Adtrak.</p>
				<p class="subheading">This passion for sharing knowledge has been present from the outset, holding my first training session on CSS3 as a fresh-faced junior in 2011, back when implementing rounded corners without images was still a novelty!</p>
			</div>

			<div class="w-full max-w-[1066px] mx-auto rounded-[60px] rounded-b-2xl lg:rounded-b-[60px] border border-grey-300 mt-8 lg:mt-20">
				<h3 class="w-full py-7 border-b border-grey-300 font-medium text-center">Some of my training highlights</h3>

				{training && (
					<ol>
						{training.map(item => (
							<TrainingItem
								year={item.year}
								title={item.title}
								desc={item.desc}
								btns={item.btns}
							/>
						))}
					</ol>
				)}

			</div>
		</section>

		<section class="bg-grey-100 py-8 sm:py-12 lg:py-16 flex flex-wrap border-t border-grey-300 border-opacity-40">
			<div class="w-full sm:w-1/2 xl:w-1/3 px-6 2xl:px-10 max-w-128 mx-auto">
				<h2 class="heading">Don't just take my word for it</h2>
				<p class="subheading">I've established a number of really great working relationships over the years, both with my managers and colleagues, as well as with freelance clients.</p>
				<p class="subheading">More references available on request.</p>
			</div>
			<div class="testimonials w-full sm:w-1/2 xl:w-2/3 pt-6 sm:pt-0 pb-8">
				<Carousel arrows="under-right">
					{kindWords && (
						kindWords.map((item) => (
						<div class="w-[350px] md:w-[400px] p-2 lg:p-3">
							<figure class='flex flex-col border border-grey-300 hover:border-grey-900 rounded-2xl p-6 w-full transition duration-300 testimonial'>
								<blockquote class='relative z-10 text-grey-900'>
									&ldquo;{item.quote}&rdquo;
								</blockquote>
								<figcaption class='relative z-10 mt-auto'>
									<span class='block mt-5 font-medium'>{item.name}</span>
									{item.position && (
										<span class='block text-grey-700 text-sm mt-1'>{item.position}</span>
									)}
									{item.company && (
										<span class='block text-grey-700 text-sm'>{item.company}</span>
									)}
								</figcaption>
							</figure>
						</div>
						))
					)}
				</Carousel>
			</div>
		</section>

		<section id="thankyou" class="bg-black text-white min-h-screen flex flex-col sm:flex-row justify-center sm:items-center px-6 sm:px-8 pb-16 md:pb-0 z-40 relative">
			<div class="mb-8">
				<p class="thankyou text-5xl sm:text-6xl lg:text-8xl xl:text-9xl w-min">Thank you.</p>
			</div>
			<div class="sm:flex-1 max-w-screen-md sm:ml-8 sm:pl-8 lg:pl-16 lg:ml-16 xl:pl-20 xl:ml-20 sm:border-l border-white border-opacity-10 xl:py-16">
				<div class="max-w-screen-xs">
					<p class="opacity-80 mb-5">If you've made it this far, thanks so much for taking the time to read through my application. I genuinely appreciate it.</p>

					<p class="opacity-80">I hope this has given you an insight into my work, my experience and my ambitions. {signoff}</p>
					
					<ContactLinks bg="dark" />

					<div class="mt-8 flex gap-4">
						<SocialLinks classes="opacity-40 hover:opacity-100" />
					</div>

				</div>
			</div>
		</section>

    <Modal id="tldr">
			<h3 class="text-2xl/snug mb-5 font-medium tracking-wider">TL;DR</h3>
      <p>I realise this is a substantial application, so here are some key points...</p>
			<ul class="font-medium">
        <li>Looking for a front-end engineer role that makes use of my creative background and design skills.</li>
        <li>Specialise in building UIs, user experiences, interactions, accessibility, page speed, and the visual and structural aspects of web pages and apps.</li>
        <li>Next.js and Astro are my preferred frameworks, with additional experience in Gatsby, Eleventy and WordPress.</li>
        <li>Very strong all round knowledge from years of marketing agency experience (lead-gen, e-commerce, CRO, SEO, A/B testing, more).</li>
        <li>Keen writer, and author of CSS3 Pushing the Limits, a substantial book on advanced CSS.</li>
        <li>Have been heavily involved in training and upskilling colleagues on areas such as page speed / CWV, CSS and JavaScript.</li>
        <li>15+ years experience creating for the web.</li>
        <li>Extremely adaptable to new technologies and a very fast learner.</li>
      </ul>
      <p>For more context and work examples, take a quick scroll through the full application.</p>
		</Modal>

    <Modal id="contact">
			<h3 class="text-2xl/snug mb-5 font-medium">My Contact Info</h3>
      <p>I hope this has given you an insight into my work, my experience and my ambitions. {signoff}</p>
      <div>
        <ContactLinks />
        <div class="mt-8 flex gap-4">
          <SocialLinks classes="hover:scale-110" />
        </div>
      </div>
		</Modal>
		
	</main>
</Layout>

<script>
	const readMoreBtns = document.querySelectorAll('.read-more-btn');

	readMoreBtns.forEach(btn => {
		btn.addEventListener('click', () => {
			const container = btn.closest('.card');

			container?.querySelector('.read-more-content')?.classList.remove('hidden');

			btn.remove();
		})
	});

	const inViewport = (entries: IntersectionObserverEntry[]) => {
		entries.forEach((entry: IntersectionObserverEntry) => {
			//entry.target.classList.toggle("in-viewport", entry.isIntersecting);
			if (entry.isIntersecting) {
				// Add class when the element is fully or partially visible
				entry.target.classList.add('in-viewport');
			} else {
				if (entry.target.classList.contains('intro-section-pixel')) {
					entry.target.classList.remove('in-viewport');
				}
			}
		});
	};

	const obsOptions = {
		threshold: 1
	};

	const Obs = new IntersectionObserver(inViewport, obsOptions);
	
	document.querySelectorAll('[data-inviewport]').forEach(el => {
		Obs.observe(el);
	});


	const introSection = document.querySelector('.intro-section');
  const stickyBtns = document.querySelector('.sticky-btns');

	var observer = new IntersectionObserver((entries) => {
    if (entries[0].boundingClientRect.y < 0) {
      introSection.classList.add("invisible");
      stickyBtns.classList.add("active");
    } else {
      introSection.classList.remove("invisible");
      stickyBtns.classList.remove("active");
    }
  });
  observer.observe(document.querySelector(".intro-section-pixel"));


	const copyEmailBtns = document.querySelectorAll('.copy-email');

  copyEmailBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
      navigator.clipboard.writeText('hi@ste.digital');
      btn.querySelector('.tooltip').textContent = "Copied!";
    })
  })
</script>