---
import Layout from '../layouts/Layout.astro';
import LogoCarousel from '../components/LogoCarousel.astro';
import Card from '../components/Card.astro';
import CardCarousel from '../components/CardCarousel.astro';
import TimelineEvent from '../components/TimelineEvent.astro';
import TrainingItem from '../components/TrainingItem.astro'
---

<Layout title="Creative Front-end Developer - Ste Greig">
	<main>

		<div class="sticky top-0 z-[-1]">

			<header class="flex top-0 z-10 w-full p-3">
				<p>Nottingham, UK</p>
				<p class="mx-auto text-lg">Hey, Volteras 👋</p>
				<a class="btn" href="">Get in touch</a>
			</header>
			
			<section class="bg-offwhite flex flex-col items-center justify-center px-6 pt-9 pb-20 text-center">
				<figure class="relative after:absolute after:left-0 after:bottom-0 after:w-full after:h-1/2 after:bg-gradient-to-t after:from-offwhite">
					<img width="220" height="221" class="mix-blend-darken" src="/ste-profile.png" alt="Ste Greig profile picture">
				</figure>
				<h1 class="text-grey-900 text-5xl md:text-7xl tracking-[-1px] -mt-9 relative z-10"><span class="text-grey-500">I'm</span> Ste Greig</h1>
				<p class="mt-[6px]">Front-end Developer <span class="mx-1 md:mx-4">/</span> Design Engineer</p>
				<p class="mt-10 max-w-[500px] text-center">I'm a creative developer with a keen eye for design and detail. I'm a Figma veteran, a CSS obsessive, I have a kink for semantic markup, and I love working with data and building reusable components - usually in React, but I'm flexible.</p>
				<p class="mt-14 text-grey-500">(and I'd like to work for you)</p>
			</section>

		</div>

		<section class="bg-grey-100 px-6 py-16 md:py-0">
			<div class="md:flex md:items-start">
				<div class="w-full max-w-128 mx-auto copy md:pr-10 xl:pr-0 md:py-20 lg:py-32">
					<h2 class="heading">What I am and what I'm not (yet)</h2>
					<p>Front-end is a broad term in 2024. Many come via a computer science route, and others from a more creative background. My flavour of front-end is more-so the latter, but I continue to edge closer towards an ideal mix of the two.</p>

					<p>I specialise in UI patterns, user experiences, interactions, accessibility, page speed, and the visual and structural aspects of web pages and apps.</p>
						
					<p>I also have vast experience in marketing, which has facilitated a well-rounded skill set; lead-gen, e-commerce, CRO, SEO, A/B testing...</p>
						
					<p>I wouldn't quite describe myself as full-stack, but I love JavaScript and I've loved the transition to working in modern JS frameworks over the last 6-7 years, with considerable experience in Next.js, Gatsby, Astro and Eleventy.</p>
						
					<p>I'd like to think I'm the sort of person you can bet on. I'm extremely adaptable and a very fast learner, generally able to achieve a high level in whatever I turn my focus to. So if you think there are any gaps in my skill set, I'm confident these can be filled in a very short space of time.</p>
				</div>
				<div class="mt-8 md:mt-0 md:py-32 md:mr-auto flex justify-center items-center md:sticky md:top-0 lg:h-screen">
					<figure class="content-img">
						<img src="/family.png" alt="">
						<figcaption>Hello there lorem ipsum</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<section class="bg-offwhite pt-8 md:pt-12 lg:pt-16 xl:pt-[4.5rem]">
			<LogoCarousel />
		</section>

		<section class="bg-offwhite py-16 md:py-20 lg:py-32">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">Here are a few of my favourite projects</h2>
				<p class="subheading">All of the projects below were both designed and built by me in their entirety</p>
			</div>

			<div class="flex flex-wrap max-w-screen-3xl mx-auto p-2 lg:px-4 xl:px-8 pt-8 lg:pt-16">
				<Card
					variant="large"
					title="Messi vs Ronaldo"
					subtitle='messivsronaldo.app'
					link="https://www.messivsronaldo.app/"
					image="/messi-vs-ronaldo.webp"
					classes="w-full md:w-1/2 p-2 lg:p-4 xl:p-8"
				>
					<p>The sequel to my original side-project which I sold for a five-figure sum, messivsronaldo.app began as a learning exercise and developed into a real passion project. <button class="read-more-btn">Read more</button></p>

					<div class="[&>*]:mt-4 hidden read-more-content">
						<p>Built with Gatsby, this site was my gateway into React, and I can't understate how much I learnt during both the initial build and the never-ending feature additions. It was a constant work in progress for the best part of 2 years, and it was fantastic to have a project that really energised me in the way that this did.</p>
							
						<p>The original iteration of this side-project which I previously alluded to (messivsronaldo.net), I created in 2012 and sold in 2016 with an average daily user count of around 15,000, and a firm grip of the top spots in Google for the most relevant search terms.</p>
							
						<p>This new version was initially a learning exercise primarily, but soon began to show some promise in terms of organic performance. In a little over a year it had toppled its predecessor, and went on to achieve some dizzying numbers, despite zero financial investment on marketing.</p>
							
						<p>In the year from October 2022 to September 2023, the site had 11.7 million users, an average of 32,000 per day. It has also surpassed 100k users in a single day on 8 occasions, including twice breaking the 200k barrier! The all time high was 226,323 on Monday 19th December 2022, the day after Lionel Messi's World Cup triumph.</p>
					</div>
				</Card>

				<Card
					variant="large"
					title="Top Scorers Club"
					subtitle='topscorers.club'
					link="https://www.topscorers.club/"
					image="/top-scorers-club.webp"
					classes="w-full md:w-1/2 p-2 lg:p-4 xl:p-8"
				>
				<p>Top Scorers Club is another recently launched side project with a simple purpose; an at-a-glance, quick-reference resource showing the top scorers and assisters in football's biggest competitions. <button class="read-more-btn">Read more</button></p>

				<div class="[&>*]:mt-4 hidden read-more-content">
					<p>The site was built with Astro, and I have to say it was an immensely enjoyable build, with the Astro developer experience probably my overall favourite at the moment.</p>
						
					<p>Without going into too much detail about the data side, the site makes creative use of the Google Sheets API, auto-updates and costs nothing to run.</p>
				</div>
				</Card>
			</div>

			<CardCarousel
				cards={[
					{
						'title': "Personal Site",
						'subtitle': 'ste.digital',
						'link': "https://ste.digital",
						'image': "/personal-site.jpg"
					},
					{
						'title': "CTC Training",
						'subtitle': 'ctccourses.org',
						'link': "https://ctccourses.org/",
						'image': "/ctc.jpg"
					},
					{
						'title': "Doughnotts",
						'subtitle': 'doughnottsofficial.com',
						'link': "https://www.doughnottsofficial.com/",
						'image': "/doughnotts.webp"
					},
					{
						'title': "Ducklings",
						'subtitle': 'ducklingsnursery.org.uk',
						'link': "https://www.ducklingsnursery.org.uk/",
						'image': "/ducklings.webp"
					},
					{
						'title': "Woolfox",
						'subtitle': 'woolfox.uk',
						'link': "https://www.woolfox.uk/",
						'image': "/woolfox.jpg"
					},
					{
						'title': "London Penthouse",
						'subtitle': 'londonpenthouse.com',
						'link': "https://www.londonpenthouse.com/",
						'image': "/london-penthouse.jpg"
					},
					{
						'title': "Artificial Lawn Supply",
						'subtitle': 'artificiallawnsupply.co.uk',
						'link': "https://www.artificiallawnsupply.co.uk/",
						'image': "/als.jpg"
					},
					{
						'title': "Moot 4x4",
						'subtitle': 'work in progress',
						'image': "/moot.jpg"
					}
				]}
			/>

		</section>

		<section class="bg-gradient-to-b from-grey-100 to-offwhite px-6 py-16 md:py-0">
			<div class="md:flex md:items-start">
				<div class="w-full max-w-128 mx-auto copy md:pr-10 xl:pr-0 md:py-20 lg:py-32">
					<h2 class="heading">I love writing about web tech too</h2>
					<p class="subheading">I'm even a published author!</p>
					<p>Front-end is a broad term in 2024. Many come via a computer science route, and others from a more creative background. My flavour of front-end is more-so the latter, but I continue to edge closer towards an ideal mix of the two.</p>

					<p>I specialise in UI patterns, user experiences, interactions, accessibility, page speed, and the visual and structural aspects of web pages and apps.</p>
						
					<p>I also have vast experience in marketing, which has facilitated a well-rounded skill set; lead-gen, e-commerce, CRO, SEO, A/B testing...</p>
						
					<p>I wouldn't quite describe myself as full-stack, but I love JavaScript and I've enjoyed the transition to working in modern JS frameworks over the last 6-7 years, with experience in Next.js, Gatsby, Astro and Eleventy.</p>
				</div>
				<div class="mt-8 md:mt-0 md:py-32 md:mr-auto flex justify-center items-center md:sticky md:top-0 lg:h-screen">
					<figure class="content-img">
						<img src="/css3-ptl.webp" alt="My book, CSS3 Pushing the Limits">
						<figcaption>Hello there lorem ipsum</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<section class="bg-offwhite pt-8 md:pt-10 lg:pt-16 pb-16 md:pb-20 lg:pb-32">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">My journey and experience</h2>
				<p class="subheading">How I got to where I am today</p>
			</div>

			<ol class="w-full mx-auto max-w-screen-sm lg:max-w-screen-lg xl:max-w-[1066px] pl-8 pr-4 lg:px-4 xl:px-0 flex flex-col lg:flex-row flex-wrap items-center lg:items-start lg:justify-between py-4 lg:py-8 xl:pb-20 mt-8 lg:mt-20 relative after:absolute after:left-4 lg:after:left-1/2 after:w-0 after:h-full after:top-0 after:border-r after:border-dashed after:border-grey-300">

				<TimelineEvent year="2004" title="The journey begins" margins="mt-4 lg:mt-0">
					<p>A long lost pal gives me a dodgy copy of Adobe Photoshop 7.0 before school one morning, and I'm destined for a career on the web ever since!</p>
				</TimelineEvent>

				<TimelineEvent year="2005" title="First taste of the industry" margins="mt-4 lg:mt-24">
					<p>At 15, I am recruited by the Hereford United Football Club web team to contribute noughties style website graphics (you know, like rounded corners!)</p>
				</TimelineEvent>
				
				<TimelineEvent year="2008" title="Leave school" margins="mt-4 lg:-mt-16">
					<p>I leave Ashfield School & Sixth Form with 9 GCSEs (including As in Maths English & Art), and 3 A-Levels (including an A in ICT). I then head to Nottingham Trent University to study Multimedia.</p>
				</TimelineEvent>

				<TimelineEvent year="2010" title="First proper job" highlight={true}>
					<p>After my second year of uni I land my first Web Designer role at 19, at Nottingham marketing agency, <b>Adtrak</b>, working full time initially and part time throughout my final year of uni.</p>
				</TimelineEvent>

				<TimelineEvent year="2011" title="Graduate from university" margins="mt-4 lg:-mt-16" highlight={true}>
					<p>I graduate from Nottingham Trent University with a <b>First Class Degree</b> in <b>BA (Hons) Multimedia</b> (specialising in Interactive Media).</p>
				</TimelineEvent>

				<TimelineEvent
					year="2012"
					title="Launch messivsronaldo.net"
				/>

				<TimelineEvent year="2012" title="Land a book deal" margins="mt-4 lg:mt-0">
					<p>After blogging incessantly about CSS for the previous few years I am approached by global publishers Wiley, who commission me to write an extensive book on advanced CSS.</p>
				</TimelineEvent>

				<TimelineEvent year="2013" title="My first senior role... in New Zealand!" highlight={true}>
					<p>My partner and I move to New Zealand for a year, where at 22 I land my first senior position at a small studio in Auckland, joining <b>Austin Digital</b> as Senior Designer & Programmer.</p>
				</TimelineEvent>

				<TimelineEvent year="2013" title="CSS3 Pushing the Limits is published" margins="mt-4 lg:-mt-4">
					<p>In September 2023, after months of very hard work and very late nights, my book on the cutting edge CSS3 modules - totalling 384 pages - was published.</p>
				</TimelineEvent>

				<TimelineEvent year="2014" title="Back to the UK" highlight={true}>
					<p>Fresh from travelling the length and breadth of New Zealand, we move to South Wales where I join <b>WebBox Digital</b> as Lead UI Designer & Front-end Developer.</p>
				</TimelineEvent>

				<TimelineEvent year="2015" title="Back to Adtrak" margins="mt-4 lg:-mt-4" highlight={true}>
					<p>After moving back to Nottingham in 2015, I accept the offer of a senior role at my former employer, <b>Adtrak</b>!</p>
				</TimelineEvent>

				<TimelineEvent
					year="2016"
					title=" Hannah and I get married!"
					margins="mt-4 lg:mt-24"
				/>

				<TimelineEvent year="2016" title="Sell messivsronaldo.net" margins="mt-4 lg:mt-0">
					<p>In 2016, 4 years after launching, I sell my messivsronaldo.net website for a five-figure sum.</p>
				</TimelineEvent>

				<TimelineEvent
					year="2018"
					title="First child, Leo, born on 30th January"
					margins="mt-4 lg:mt-24"
				/>

				<TimelineEvent year="2018-19" title="Upskilling" margins="mt-4 lg:-mt-4">
					<p>I went big on learning React, Gatsby, ES6 and other more modern web tech.</p>
				</TimelineEvent>

				<TimelineEvent year="2020" title="Launch messivsronaldo.app">
					<p>4 years after selling the original site, I launch a new Messi vs Ronaldo web app, which has since eclipsed the very successful original iteration in every way.</p>
				</TimelineEvent>

				<TimelineEvent
					year="2021"
					title="Second child, Olly, born on 6th October"
					margins="mt-4 lg:-mt-4"
				/>

				<TimelineEvent year="2024" title="Make decision to leave Adtrak" highlight={true}>
					<p>After many happy years at Adtrak, I decide the time is right to take the next step in my career and take on a new challenge.</p>
				</TimelineEvent>
			</ol>
		</section>

		<section class="bg-gradient-to-b from-offwhite via-grey-100 to-grey-100 pt-4 md:pt-8 pb-16 md:pb-20 lg:pb-32 px-2">
			<div class="max-w-screen-md mx-auto text-center px-4">
				<h2 class="heading">Training and teaching</h2>
				<p class="subheading">As well as client work, I've also always been heavily involved in training and upskilling the rest of the 20+ strong web team at Adtrak.</p>
				<p class="subheading">This passion for sharing knowledge has been present from the outset, holding my first training session on CSS3 as a fresh-faced junior in 2011, back when implementing rounded corners without images was still a novelty!</p>
			</div>

			<div class="w-full max-w-[1066px] mx-auto rounded-[60px] border border-grey-300 mt-8 lg:mt-20">
				<h3 class="w-full py-7 border-b border-grey-300 font-medium text-center">Some of my training highlights</h3>
				<ol>
					<TrainingItem
						year="2022"
						title="JavaScript Fundamentals"
						desc="A 4 part, 6 hour course on the basics of JavaScript"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2022-brief-history-of-javascript-slides.pdf'
							},
							{
								'text': 'View materials',
								'link': 'https://github.com/SteGreig/js-training'
							}
						]}
					/>
					
					<TrainingItem
						year="2021"
						title="Core Web Vitals"
						desc="An in-depth training session and accompanying cheatsheet"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2021-core-web-vitals-training-slides.pdf'
							},
							{
								'text': 'View Cheatsheet',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2021-core-web-vitals-cheatsheet.pdf'
							}
						]}
					/>

					<TrainingItem
						year="2020"
						title="Page Speed Refresher"
						desc="A detailed refresher on how to optimise for page speed"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2020-page-speed-training-slides.pdf'
							}
						]}
					/>

					<TrainingItem
						year="2018"
						title="Page Speed"
						desc="A comprehensive breakdown of front-end page speed optimisation techniques"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2018-page-speed-training.pdf'
							}
						]}
					/>

					<TrainingItem
						year="2017"
						title="CSS Selectors"
						desc="A deep dive into CSS Selectors with accompanying cheatsheet"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2016-css-selectors-training-slides.pdf'
							},
							{
								'text': 'View cheatsheet',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2017-the-ultimate-css-selectors-cheatsheet.pdf'
							}
						]}
					/>

					<TrainingItem
						year="2017"
						title="CSS Keyframe Animation"
						desc="Everything about CSS animation, including a custom built animation playground"
						btns={[
							{
								'text': 'View slides',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2017-css-keyframe-animation-training-slides.pdf'
							},
							{
								'text': 'View playground',
								'link': 'https://css-animation-playground.vercel.app/'
							}
						]}
					/>

					<TrainingItem
						year="2015"
						title="Flexbox"
						desc="Live coded walkthrough and accompanying cheatsheet"
						btns={[
							{
								'text': 'View cheatsheet',
								'link': 'https://github.com/SteGreig/training-materials/blob/main/2015-flexbox-cheatsheet.pdf'
							}
						]}
					/>
				</ol>
			</div>
		</section>

		<section class="bg-grey-100 pt-4 md:pt-8 pb-16 md:pb-20 lg:pb-32 px-2 py-16 md:py-20 lg:py-32 flex flex-wrap">
			<div class="w-full md:w-1/4 lg:w-1/3">
				<h2>Don't just take my word for it</h2>
				<p>I've established a number of really great working relationships over the years, both with my managers and colleagues, as well as with freelance clients.</p>
				<p>More references available on request.</p>
			</div>
		</section>
		
	</main>
</Layout>

<script>
	const readMoreBtns = document.querySelectorAll('.read-more-btn');

	readMoreBtns.forEach(btn => {
		btn.addEventListener('click', () => {
			const container = btn.closest('.card');

			container?.querySelector('.read-more-content')?.classList.remove('hidden');

			btn.remove();
		})
	});

	const inViewport = (entries, observer) => {
		entries.forEach(entry => {
			//entry.target.classList.toggle("in-viewport", entry.isIntersecting);
			if (entry.isIntersecting) {
					// Add class when the element is fully or partially visible
					entry.target.classList.add('in-viewport');
			}
		});
	};

	const obsOptions = {
		threshold: 1
	};

	const Obs = new IntersectionObserver(inViewport, obsOptions);
	
	document.querySelectorAll('[data-inviewport]').forEach(el => {
		Obs.observe(el);
	});
</script>