---
const logos = [
  {
    "filename":"logo-react.svg",
    "alt":"React logo",
  },
  {
    "filename":"logo-nextjs.svg",
    "alt":"Next.js logo",
  },
  {
    "filename":"logo-sanity.svg",
    "alt":"Sanity logo",
  },
  {
    "filename":"logo-astro.svg",
    "alt":"Astro logo",
  },
  {
    "filename":"logo-tailwind.svg",
    "alt":"Tailwind logo",
  },
  {
    "filename":"logo-framer-motion.svg",
    "alt":"Framer Motion logo",
  },
  {
    "filename":"logo-gatsby.svg",
    "alt":"Gatsby logo",
  },
  {
    "filename":"logo-wordpress.svg",
    "alt":"WordPress logo",
  },
  {
    "filename":"logo-typescript.svg",
    "alt":"TypeScript logo",
  },
  {
    "filename":"logo-js.svg",
    "alt":"JavaScript logo",
  },
  {
    "filename":"logo-css3.svg",
    "alt":"CSS3 logo",
  },
  {
    "filename":"logo-html5.svg",
    "alt":"HTML5 logo",
  },
  {
    "filename":"logo-figma.svg",
    "alt":"Figma logo",
  },
]
---

<div class="carousel-wrap relative flex w-full overflow-hidden">

  <div class="carousel flex flex-none will-change-transform">
    {logos.map(logo => (
      <img class="mx-6" src={logo.filename} alt={logo.alt}>
    ))}
  </div>

  <div class="carousel flex flex-none will-change-transform" aria-hidden="true">
    {logos.map(logo => (
      <img class="mx-6" src={logo.filename} alt={logo.alt}>
    ))}
  </div>

  <div class="carousel flex flex-none will-change-transform" aria-hidden="true">
    {logos.map(logo => (
      <img class="mx-6" src={logo.filename} alt={logo.alt}>
    ))}
  </div>

</div>


<style>
.carousel-wrap:before {
  content: "";
  @apply absolute left-0 -top-4 -bottom-4 w-52 bg-gradient-to-r from-offwhite z-10 backdrop-blur-lg backdrop-opacity-70;
  mask-image: linear-gradient(to right, rgb(24, 23, 23) 50%, transparent);
}

.carousel-wrap::after {
  content: "";
  @apply absolute right-0 -top-4 -bottom-4 w-52 bg-gradient-to-l from-offwhite z-10 backdrop-blur-lg backdrop-opacity-70;
  mask-image: linear-gradient(to left, rgb(24, 23, 23) 50%, transparent);
}

.carousel {
  animation: marquee 21s infinite linear;
}

@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}

</style>